{% extends 'tupie_app/base.html' %}

{% load static %}
{% block title %}Inbox{% endblock %}

{% block content %}
<div>
  <h2>Inbox</h2>

  {% if convo_data %}
    <ul class="form-section">
      {% for item in convo_data %}
        <li class="inbox-list">
          <div>
            {% for other_user in item.other_users %}
              <p><strong>{{ other_user.username }}</strong></p>
              <p><small>{{ other_user.email }}</small></p>
            {% endfor %}
          </div>
          <div>
            {% if item.unread_count %}
              <span class="bg-gold text-black text-sm px-2 py-1 rounded-full">{{ item.unread_count }} new</span><br>
            {% endif %}
            <a href="{% url 'tupie_app:conversation' item.conversation.id %}" ><button class="cta-btn">View</button></a>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No conversations yet.</p>
  {% endif %}
</div>

{% endblock %}

