{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tupie{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'tupie_app/css/style.css' %}">
    <link rel="icon" href="{% static 'tupie_app/media/images/favicon.ico' %}" type="image/png">
</head>
<body>
    <div class="page-wrapper">
    {% include 'tupie_app/navbar.html' %}

    <main class="content">
        {% block content %}{% endblock %}
    </main>

    {% include 'tupie_app/footer.html' %}
    </div>
</body>
</html>
