{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tupie Platform</title>
        <link rel="stylesheet" href="{% static 'tupie_app/css/style.css' %}">
    </head>
    <body>
        <header>
            <hi>WELCOME TO TUPIE</hi>
            <p>If you'r about to throw something away, we have a way for it to find new home</p>
        </header>
        <main>
            <section> 
                <h2>How  it works?</h2>          
                <ul>
                    <li>✅ List unwanted items for free</li>
                    <li>✅ Browse available items in your area</li>
                    <li>✅ Request items you need</li>
                    <li>✅ Reduce waste, Help your community</li>
                </ul>
            </section>
        </main>

        <footer>
            <p>&copy; 2025 Tupie Platform</p>
        </footer>
    </body>
</html>