{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tupie Platform</title>
        <link rel="stylesheet" href="{% static 'tupie_app/css/style.css' %}">
        <link rel="icon" href="{% static 'tupie_app/media/images/favicon.ico' %}" type="image/x-icon">
    </head>
    <body>
        <!-- Navigation Bar section -->
         <nav class="navbar">
            <div class="logo">
                <img src="{% static 'tupie_app/media/images/tupie_logo_icon.png' %}" alt="Tupie Logo">
                <span class="logo-text">Tupie</span>
            </div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">List Item</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Donation</a></li>
            </ul>
         </nav>
         <!-- Hero Section -->
        <header class="hero">
            <hi>WELCOME TO TUPIE</hi>
            <p>If you're about to throw something away, we have a way for it to find new home</p>
            <a href="#" class="cta-btn">List an Item</a>
        </header>
        <!-- How it works -->   
        <section class="how-it-works"> 
            <h2>How  it works?</h2>
            <div class="steps">
                <ul>
                    <div class="step">1️⃣ List unwanted items for free</div>
                    <div class="step">2️⃣ Browse available items nearby</div>
                    <div class="step">3️⃣ Request what you need the most</div>
                    <div class="step">4️⃣ Reduce waste & help the community</div>
                </ul>
            </div>
        </section>
        <!-- Item listing placeholder -->
         <section class="item-listings">
            <h2>Available Items</h2>
            <div class="items-grid">
                <div class="item-card">
                    <img src="{% static 'tupie_app/media/images/logo.png' %}" alt="Sample Item">
                    <h3>Sample Item</h3>
                    <p>Short description of the item</p>
                    <button>Request</button>   
                </div>
                <div class="item-card">
                    <img src="{% static 'tupie_app/media/images/logo.png' %}" alt="Sample Item">
                    <h3>Another Sample Item</h3>
                    <p>Short description of the item</p>
                    <button>Request</button>   
                </div>
            </div>
            <p class="coming-soon">More items coming soon...</p>
         </section>
        <!-- Footer --> 
        <footer>
            <p>&copy; 2025 Tupie Platform</p>
        </footer>
    </body>
</html>