{% extends "tupie_app/base.html" %}
{% load static %}

{% block title %}{{ item.title }} - Details{% endblock %}

{% block content %}

<section class="form-section">
    {% if messages %}
  <div class="messages">
    {% for message in messages %}
      <p class="{{ message.tags }}">{{ message }}</p>
    {% endfor %}
  </div>
{% endif %}

    <h1 style="text-transform: uppercase;">{{ item.title }}</h1>
    <div class="item-image {% if not item.images.all %}single-image{% endif %}">
        {% if item.images.exists %}
        <div id="itemCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for img in item.images.all %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ img.image.url }}" class="d-block w-100" alt="Item image">
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#itemCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#itemCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
            </div>
        {% else %}
            <img src="{% static 'tupie_app/media/images/tupie_logo_icon.png' %}" alt="Default image" />
        {% endif %}
    </div>

    <p><strong>Description:</strong> {{ item.description }}</p>

    <p><strong>Category:</strong> {{ item.get_category_display }}</p>

    <p><strong>Listed by:</strong>
        <a href="{% url 'tupie_app:owner_profile' item.owner.id %}"class="owner">
        {{ item.owner.username }}</a>
        {% include "tupie_app/partials/_verification_badge.html" with user_profile=item.owner.userprofile %}
    </p>
    <p><strong>Email:</strong>
        {{ item.owner.email }}
    </p>

    <p>
        {% if item.available %}
            <span class="status available"> Available</span>
        {% else %}
            <span class="status unavailable">❌ Taken</span>
        {% endif %}
        <br>
    </p>

    <p><strong>Location:</strong>
        {% if item.street %}{{ item.street }},{% endif %}
        {% if item.place %}{{ item.place.place_name }},{% endif %}
        {% if item.ward %}{{ item.ward.ward_name }},{% endif %}
        {% if item.district %}{{ item.district.district_name }},{% endif %}
        {% if item.region %}{{ item.region.region_name }}{% endif %}
    </p>

    <div style="margin-top:20px;">
        {% if user.is_authenticated %}
            {% if not item.available %}
                <button disabled style="background:#ccc;" class="cta-btn">Not Available</button>
            {% elif item.owner == user %}
                <button disabled style="background:#ccc;" class="cta-btn">Your Item</button>
            {% else %}
                <a href="{% url 'tupie_app:request_item' item.id %}"><button class="cta-btn">Request</button></a>
            {% endif %}
        {% else %}
            <a href="{% url 'tupie_app:login' %}"><button class="cta-btn">Login to Request</button></a>
        {% endif %}

        
        <a href="{% url 'tupie_app:listed_items' %}"><button class="cta-btn">View More Items</button></a>
    </div>
</section>
<style>
.carousel-inner img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    object-fit: contain
}
.carousel-control-prev,
.carousel-control-next {
    width: 40px;
    height: 30px;
    top: 50%;
    background-color: #4A704A;
    border-radius: 8px;
    transform: translateY(-50%);
    opacity: 0.7;
    transition: opacity 0.2s ease;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
}
</style>

{% endblock %}
