{% extends "tupie_app/base.html" %}
{% load static %}

{% block title %}{{ item.title }} - Details{% endblock %}

{% block content %}
<section class="form-section">
    {% if messages %}
  <div class="messages">
    {% for message in messages %}
      <p class="{{ message.tags }}">{{ message }}</p>
    {% endfor %}
  </div>
{% endif %}

    <h1>{{ item.title }}</h1>
    <div class="item-image">
        {% if item.image %}
            <img src="{{ item.image.url }}" alt="{{ item.title }}" style="max-width:400px;border-radius:8px;">
        {% else %}
            <img src="{% static 'tupie_app/media/images/tupie_logo_icon.png' %}" alt="Default" style="max-width:200px;">
        {% endif %}
    </div>

    <p><strong>Description:</strong> {{ item.description }}</p>

    <p><strong>Category:</strong> {{ item.get_category_display }}</p>

    <p><strong>Listed by:</strong>
        {{ item.owner.username }}
        {% include "tupie_app/_verification_badge.html" with user_profile=item.owner.userprofile %}
    </p>

    <p>
        {% if item.available %}
            <span class="status available">  Available</span>
        {% else %}
            <span class="status unavailable">❌ Taken</span>
        {% endif %}
        <br>
    </p>

    <p><strong>Location:</strong>
        {% if item.street %}{{ item.street }}, {% endif %}
        {% if item.district %}{{ item.district.district_name }}, {% endif %}
        {% if item.region %}{{ item.region.region_name }}{% endif %}
    </p>



    <div style="margin-top:20px;">
        {% if user.is_authenticated %}
            {% if not item.available %}
                <button disabled style="background:#ccc;" class="cta-btn">Not Available</button>
            {% elif item.owner == user %}
                <button disabled style="background:#ccc;" class="cta-btn">Your Item</button>
            {% else %}
                <a href="{% url 'request_item' item.id %}"><button class="cta-btn">Request</button></a>
            {% endif %}
        {% else %}
            <a href="{% url 'login' %}" class="cta-btn">Login to Request</a>
        {% endif %}

        
        <a href="{% url 'listed_items' %}"><button class="cta-btn">View More Items</button></a>
    </div>
</section>
{% endblock %}
