{% extends "tupie_app/base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<section class="form-section">
    <h2>Login</h2>
    <form method="post" class="login-form">
        {% csrf_token %}
        
        <div class="form-group">
            {{ form.username }}
            {% if form.username.errors %}
                <span class="error">{{ form.username.errors|striptags }}</span>
            {% endif %}
        </div>
        
        <div class="form-group">
            {{ form.password }}
            {% if form.password.errors %}
                <span class="error">{{ form.password.errors|striptags }}</span>
            {% endif %}
        </div>

        <!-- Full-width button -->
        <button type="submit" class="submit-btn full-width">Login</button>
    </form>
    <p class="alt-link">
        Don’t have an account?<br><br>
        <a href="{% url 'signup' %}" class="cta-btn">Sign Up</a>
    </p>
</section>
{% endblock %}
