{% extends 'tupie_app/base.html' %}
{% load static %}
{% block title %}Profile View{% endblock %}
{% block content %}
<div class="owner-card">
    {% if owner.photo %}
        <img src="{{ owner.photo.url }}" alt="Profile Photo" class="profile-avatar">
    {% else %}
        <img src="{% static 'tupie_app/media/images/avatar.png' %}" alt="Default Avatar" class="profile-avatar">
    {% endif %}
  
  <h2>
    {{ owner.user.username }}
    {% include 'tupie_app/partials/_verification_badge.html' with user_profile=owner %}
  </h2>

  {% if owner.phone_number %}
    <p><strong>Phone:</strong> {{ owner.phone_number }}</p>
    {% else %}
    <p><strong>Phone:</strong> Not provided yet</p>
  {% endif %}

  {% if owner.user.email %}
  <p><strong>Email:</strong> {{ owner.user.email }}</p>
  {% else %}
  <p><strong>Email:</strong> Not provided yet</p>
  {% endif %}

  {% if owner.place or owner.ward or owner.district or owner.region %}
    <p><strong>🏠︎:</strong> 
        <small>
        {{ owner.place|default_if_none:"" }},
        {{ owner.ward|default_if_none:"" }},
        {{ owner.district|default_if_none:"" }},
        {{ owner.region|default_if_none:"" }}
        </small>
    </p>
    {% else %}
    <p><strong>Location:</strong> Not provided yet</p>
    {% endif %}

  <!-- Messaging -->
<div>
  {% if user.is_authenticated %}
    <a href="{% url 'start_conversation' owner.user.id %}">
    <button class="cta-btn">Message {{ owner.user.username }}</button>
    </a>
  {% else %}
    <a href="{% url 'start_conversation' owner.user.id %}">
    <button class="cta-btn">Message {{ owner.user.username }}</button>
    </a>
  {% endif %}
</div>
{% endblock %}
