{% extends 'tupie_app/base.html' %}
{% load static %}

{% block title %}Sign Up - Tupie{% endblock %}

{% block content %}
<section class="form-section">
    <h2>Create an Account</h2>
    <form method="post" class="item-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="submit-btn">Sign Up</button>
    </form>

        <p class="alt-link">
        Already have an account?<br><br>
        <a href="{% url 'login' %}" class="cta-btn">Login</a>
        </p>
</section>
{% endblock %}
