{% extends "tupie_app/base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<section class="form-section">
    {% if messages %}
    {% for message in messages %}
        <div class="error-message">{{ message }}</div>
    {% endfor %}
    {% endif %}
    <h2>Login</h2>
    <p>Enter your credentials</p>

    <form method="post" class="item-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="submit-btn">Log In</button>
    </form>
    <p class="alt-link">
        Don’t have an account?<br><br>
        <a href="{% url 'tupie_app:signup' %}"><button class="cta-btn">Sign Up</button></a>
    </p>
</section>
{% endblock %}
